<ion-view view-title="{{ repName }}" id="rep-info-page">
  <ion-content class="padding">
  
    <div class="card rep-card stable-transparent flex">
      <div class="item item-text-wrap stable-transparent header">
      
        <div class="left">
          <img src="{{ imgSrc }}" class="rep-photo" />
        </div>
      
        <div class="middle">
          <p class="title"><strong>{{ repName }}</strong>
          <p class="sub-title">{{ office.toUpperCase() }}
        </div>
    
      </div>
    </div>
  
    <a href="{{website}}" target="_blank" class="button button-calm button-contact center ng-hide" ng-hide="noWeb">Visit Website</a>
    
    <p><strong>Phone:</strong> {{phoneNumber}}</p>
    <p><strong>Email:</strong> {{emailAddress}}</p>
    <p><strong>Address:</strong> {{address}}</p>
    
    <div class="biography ng-hide" ng-hide="noBio">
      <h1 align="center">Biography</h1>
      <p>{{ bio }}</p>
    </div>
    
    <div class="footer-placeholder"></div>
  
  </ion-content>
</ion-view>