<ion-view view-title="Information" id="rep-info-page">
  <ion-content class="padding">
    
    <!--TODO: Styling changes-->
    
    <div class="header-wrap">
      <img src="{{ imgSrc }}" class="rep-photo"/>
      <h1>{{ repName }}</h1>
      <div class="clear-both"></div>
    </div>
    <p>Office: {{office}}<br>
    Phone: {{phoneNumber}}<br>
    Email: {{emailAddress}}<br>
    Address: {{address}}</p>
    <div>
	<a href="{{website}}" class="button button-balanced button-contact float-left">{{web}}</a>
	</div>
	<br>
	<br>
    <h3>Biography</h3>
    <p>{{ bio }}</p>
  
  </ion-content>
</ion-view>