<ion-view view-title="Contact" id="rep-contact-page">
  <ion-content class="padding">
  
    <div class="card rep-card stable-transparent flex">
      <div class="item item-text-wrap stable-transparent header">
      
        <div class="left">
          <img src="{{ imgSrc }}" class="rep-photo"/>
        </div>
      
        <div class="middle">
          <p class="title"><strong>{{ repName }}</strong>
          <p class="sub-title">{{ office.toUpperCase() }}
  
          <div class="buttons flex">
          <a href="tel:{{ phoneNumber }}" class="button button-energized icon ion-ios-telephone call ng-hide" ng-hide="noPhone"></a>
          <a href="mailto:{{ emailAddress }}" class="button button-calm icon ion-ios-email email ng-hide" ng-hide="noEmail"></a>
          <div class="email ng-hide" ng-hide="!noEmail"></div>
          </div>
        </div>
    
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        <span>Tips</span>
      </div>
      <div class="item item-text-wrap">
        Give your name, city, and zip code, and say "I don't need a response".
        This way they can tally you down without having to take time to issue a response.
      </div>
      <div class="item item-text-wrap">
        State the issue, state your position. For example- "I am opposed to a ban on Muslims entering the US".
        That's it. Staffers will write down a tally of who is in favor,
        so it doesn't matter WHY you hold that opinion.
      </div>
      <div class="item item-text-wrap">
        Be nice! The people answering the phones have some of the hardest jobs in Washington, and have some of the lowest pay as well.
        Be sure to thank them for their work.
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        <span>Sample Scripts</span>
      </div>
      <div class="item item-text-wrap">
        {{ script }}
      </div>
    </div>
    
    <div class="footer-placeholder"></div>
    

    <a href="tel:{{ phoneNumber }}" class="button button-balanced icon-left ion-ios-telephone center" style="width:100%">
    {{phone}}
    </a>
    <a href="mailto:{{ emailAddress }}" class="button button-positive icon-left ion-ios-email center" style="width:100%">
    {{email}}
    </a>

  </ion-content>
</ion-view>
