<ion-view view-title="Contact" hide-nav-bar="true" id="contact-page">
  <ion-content class="padding">
    
    <!--TODO: Styling changes-->
    
    <div class="header-wrap">
      <img src="{{ imgSrc }}" class="rep-photo"/>
      <h1>{{ name }}</h1>
      <div class="clear-both"></div>
    </div>
    
    <h3>Sample Script</h3>
    <p>{{ script }}</p>
    
    <a href="tel:{{ phoneNumber }}" class="button button-balanced icon-left ion-ios-telephone center">Call</a>
    <a href="mailto:{{ email }}" class="button button-positive icon-left ion-ios-email center">Email</a>
    
  </ion-content>
</ion-view>
