<ion-view><!-- Hide this -->
  <ion-content class="padding">

    <!--TODO: Styling, language changes-->

    <h1 align="center">Call Your Reps</h1>
    <div align="center"><ion-spinner align="center"></ion-spinner></div>
	<p align="center">» Contact your representatives «<br>» Stay up-to-date «<br>» Know where to vote «</p>

    <div class = "splash_image">
      <img src="lib/whiteLogo.png" alt="logo" style="width:350px;height:350px;">
    </div>

       <!--TODO: Switch nav direction so it looks like it's swiping upwards. Maybe not possible-->

  </ion-content>
</ion-view>
