<ion-view id="splash-page" hide-nav-bar="true"><!-- Hide this -->
  <ion-content class="padding">

    <h1 align="center">Call Your Reps</h1>
    
    <p align="center">» Contact your representatives «<br />
    <br />» Stay up-to-date on their activity «<br />
    <br />» Know where to vote «<br /><br />
  
    <div align="center">
      <ion-spinner align="center"></ion-spinner>
    </div><br />

    <div class="logo">
      <img src="lib/whiteLogo.png" alt="logo">
    </div>

    <!--TODO: Switch nav direction so it looks like it's swiping upwards. Maybe not possible-->

  </ion-content>
</ion-view>
