<ion-view view-title="Election Information" id="elections">
  <ion-content class="padding">
    <!---->
    <!--<h3>Your next election is on {{ nextElectionDate }}.</h3>-->
    <!---->
    <!--<h3>Your polling place is located at {{ pollingPlace }}.</h3>-->
    <!---->
    <!--<button class="button button-positive button-large icon-left ion-android-list center">-->
    <!--See a sample ballot-->
    <!--</button>-->

    <div class="card">
      <div class="item item-divider">
        <span>My Address</span>
        <button class="button icon ion-gear-a float-right" ng-click="openSettings()"></button>
      </div>
      <div class="item item-text-wrap">
        {{ userAddress }}
      </div>
    </div>

    <div id="map" data-tap-disabled="true"></div>

    <!-- Shows if there is election data -->
    <div ng-hide="noElections" class="ng-hide">
      <div class="card">
        <div class="item item-divider">
          My Polling Place
        </div>
        <div class="item item-text-wrap">
          {{ pollingPlace }}
        </div>
      </div>

      

      <div class="card">
        <div class="item item-divider">
          Upcoming Elections
        </div>
        <div class="item item-text-wrap" ng-repeat="election in upcomingElections">
          <p>{{ election.name }}</p>
          <p>{{ election.electionDay }}</p>
        </div>
      </div>

      <div class="card">
        <div class="item item-divider">
          Offices and Items up for Vote
        </div>
        <div class="item item-text-wrap" ng-repeat="contest in contests">
          <p>{{ contest.office }}</p>
        </div>
      </div>
    </div>

    <!-- Shows if there is no election data -->
    <div ng-hide="noMessage" class="ng-hide">
      <div class="card">
        <div class="item item-divider">Upcoming Elections</div>
        <div class="item item-text-wrap">No upcoming elections found</div>
      </div>

      <div align="center"><button class="button button-calm" ng-click="spoofData()">(TESTING) Generate election data</button><div>
    </div>

<br><br>

  </ion-content>
</ion-view>
