<ion-view view-title="Your Representatives" id="home-page">
  <ion-content class="padding">
  
    <!-- TODO: Possibly revise styling if we have no more information to put in each card. Currently, a lot of wasted space -->
  

    <div class="card rep-card stable-transparent flex" ng-repeat="office in repData.office">
      <div class="item item-text-wrap stable-transparent" ng-repeat="rep in office.holders">
        
        <div class="left {{ rep.party }}">
          <div>{{ rep.party.charAt(0) }}</div>
        </div>
      
        <div class="middle">
          <p class="title"><strong>{{ rep.name }}</strong>
          <p class="sub-title">{{ office.name.toUpperCase() }}
        </div>
        
        <div class="right stable">
          <button class="button button-energized icon ion-ios-telephone button-contact float-right" ng-click="contact(rep)"></button>
          <button class="button button-calm ion-ios-information button-info float-right" ng-click="info(rep)"></button>
        </div>
    
      </div>
    </div>

  </ion-content>
</ion-view>

