<ion-view view-title="Election Information" id="elections">
  <ion-content class="padding">
    
    <!--<button class="button icon ion-gear-a float-right" ng-click="openSettings()"></button>-->
    <!---->
    <!--<h3>Your next election is on {{ nextElectionDate }}.</h3>-->
    <!---->
    <!--<h3>Your polling place is located at {{ pollingPlace }}.</h3>-->
    <!---->
    <!--<button class="button button-positive button-large icon-left ion-android-list center">-->
    <!--See a sample ballot-->
    <!--</button>-->
  
    <div class="card">
      <div class="item item-divider">
        My Address
      </div>
      <div class="item item-text-wrap">
        {{ userAddress }}
      </div>
    </div>
  
    <div class="card">
      <div class="item item-divider">
        My Polling Place
      </div>
      <div class="item item-text-wrap">
        {{ pollingPlace }}
      </div>
    </div>
  
    <div class="card">
      <div class="item item-divider">
        Upcoming Elections
      </div>
      <div class="item item-text-wrap" ng-repeat="election in upcomingElections">
        <p>{{ election.name }}
        <p>{{ election.date }}
      </div>
    </div>
    
    
    <script id="settings-modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-balanced">
          <h1 class="title">Change Settings</h1>
        </ion-header-bar>
        
        <ion-content>
          <p>Change your address/preferences here! (todo)</p>
        
        </ion-content>
        
        <div class="bar bar-footer">
          <div class="button-bar">
            <button class="button button-large button-assertive" ng-click="closeSettings()">Cancel</button>
            <button class="button button-large button-positive pull-right" ng-click="saveSettings()">Save</button>
          </div>
        </div>
      </ion-modal-view>
    </script>
  
  
  </ion-content>
</ion-view>
