<ion-view><!-- Hide this -->
  <ion-content class="padding">
    
    <!--TODO: Styling, language changes-->
    
    <h1 align="center">Welcome</h1>
    <p>Enter your permanent address so we can find your representatives:</p>
    
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Address</span>
        <input type="text" ng-model="$parent.address">
      </label>
    
      <label class="item item-input">
        <span class="input-label">City</span>
        <input type="text" ng-model="$parent.city">
      </label>
    
      <label class="item item-input">
        <span class="input-label">State</span>
        <input type="text" ng-model="$parent.state">
      </label>
    
      <label class="item item-input">
        <span class="input-label">ZIP Code</span>
        <input type="text" ng-model="$parent.zip">
      </label>
      
      <button class="button button-positive button-block" ng-click="submit()" nav-direction="enter">
        <!--TODO: Switch nav direction so it looks like it's swiping upwards. Maybe not possible-->
        Submit
      </button>
    </div>
    
  </ion-content>
</ion-view>
