.float-right { float: right; }
.hidden { display: none; }
.center { margin: 20% auto; width: auto; }
button.center { display: block; }
.clear-both { clear: both;}
.float-left { float: left; }
.float-right { float: right; }
.width-45 { width: 45%; }
.width-75 { width: 75%; }
.width-25 { width: 25%; }
.width-50 { width: 50%; }

.item p {
    color: #444;
    font-size: 16px;
}

/***** Home Page *****/
.button-contact {
    margin-bottom: 10px;
}