.float-right { float: right; }
.hidden { display: none; }
.center { margin-left: auto; margin-right: auto; }
.button.center { display: block; margin-top: 5%; margin-bottom: 5%; }
a.center { display: table !important; }
.clear-both { clear: both;}
.float-left { float: left; }
.float-right { float: right; }
.width-45 { width: 45%; }
.width-75 { width: 75%; }
.width-25 { width: 25%; }
.width-50 { width: 50%; }
.width-15 { width: 15%; }

.item p {
    color: #444;
    font-size: 16px;
}

/***** Home Page *****/
.button-contact {
    margin-bottom: 10px;
}

.rep-photo {
    float: left;
    width: 25%;
    margin-right: 35px;
    border-radius: 1000px;
    max-width:300px;
}

.header-wrap {
    margin-bottom: 2%;
}